Intelligence-Engine/interference-classification/flows_MacBook-Pro.home.json
[{"id":"3ab71406.f2dfec","type":"tab","label":"WiSHFUL intelligence"},{"id":"53b934a8.2df6ec","type":"inject","z":"3ab71406.f2dfec","name":"Network topology ","topic":"trial","payload":"PROVA","payloadType":"str","repeat":"300","crontab":"","once":false,"x":110,"y":240,"wires":[["787b1a12.004194"]]},{"id":"a12fd0ca.d6e4c","type":"debug","z":"3ab71406.f2dfec","name":"Interference Class","active":true,"console":"false","complete":"payload","x":830,"y":200,"wires":[]},{"id":"433ecbf4.4224f4","type":"interference-classifier","z":"3ab71406.f2dfec","name":"","x":570,"y":200,"wires":[["a12fd0ca.d6e4c"]]},{"id":"167984f5.a2a02b","type":"comment","z":"3ab71406.f2dfec","name":"WiSHFUL project","info":"This is a flow to predict interference by classifying it in 'no interference', 'refrained', 'collision'","x":120,"y":100,"wires":[]},{"id":"787b1a12.004194","type":"function","z":"3ab71406.f2dfec","name":"extractFeatures","func":"msg.payload = Math.round(Math.random()*3);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["433ecbf4.4224f4","8fb589a.9f8bb78"]]},{"id":"8fb589a.9f8bb78","type":"debug","z":"3ab71406.f2dfec","name":"","active":true,"console":"false","complete":"false","x":510,"y":280,"wires":[]}]