example-intelligence-flow.json
[{"id":"a5f651e0.66678","type":"inject","z":"31399703.1c6738","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":320,"wires":[["d192344f.1003b8"]]},{"id":"1bc58717.358bb9","type":"debug","z":"31399703.1c6738","name":"rc's & dbg","active":true,"console":"false","complete":"payload","x":980,"y":400,"wires":[]},{"id":"55d6a1f4.80b3a","type":"inject","z":"31399703.1c6738","name":"inject trainset CSV","topic":"","payload":"/home/vsercu/Downloads/demo/802_15_4_MACperf_30s_trainset_Weka.csv","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":400,"wires":[["d2857f99.d97ea"]]},{"id":"ce7587e5.f85708","type":"debug","z":"31399703.1c6738","name":"stdout","active":true,"console":"false","complete":"payload","x":990,"y":320,"wires":[]},{"id":"d2857f99.d97ea","type":"Weka","z":"31399703.1c6738","modelfile":"/home/vsercu/Downloads/demo/MACperfPredictor.model","timer":"","name":"","x":430,"y":400,"wires":[["ce7587e5.f85708"],["1bc58717.358bb9"],["1bc58717.358bb9"]]},{"id":"4c558e0.5465374","type":"inject","z":"31399703.1c6738","name":"inject trainset CSV","topic":"","payload":"/home/vsercu/Downloads/demo/802_15_4_MACperf_30s_trainset_Weka.csv","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":460,"wires":[["4cfe5f38.f6dba"]]},{"id":"d192344f.1003b8","type":"Feature-Generation","z":"31399703.1c6738","dbdir":"/home/vsercu/Downloads/demo/example","timer":"","name":"","x":500,"y":320,"wires":[["ce7587e5.f85708"],["1bc58717.358bb9"],["1bc58717.358bb9"]]},{"id":"4cfe5f38.f6dba","type":"Test-Model","z":"31399703.1c6738","modelfile":"/home/vsercu/Downloads/demo/MACperfPredictor.model","timer":"","name":"","x":430,"y":460,"wires":[["ce7587e5.f85708","de9d1256.6ea31"],["1bc58717.358bb9"],["1bc58717.358bb9"]]},{"id":"62904ae0.621794","type":"http response","z":"31399703.1c6738","name":"","x":1050,"y":520,"wires":[]},{"id":"8f7ad4e7.a71dc8","type":"function","z":"31399703.1c6738","name":"","func":"msg.headers = {'Content-Type' : 'image/png',}\nreturn msg;","outputs":1,"noerr":0,"x":906,"y":520,"wires":[["62904ae0.621794"]]},{"id":"de9d1256.6ea31","type":"file in","z":"31399703.1c6738","name":"","filename":"/tmp/graph.png","format":"","x":750,"y":520,"wires":[["8f7ad4e7.a71dc8"]]},{"id":"31ae0d5f.d40c52","type":"http in","z":"31399703.1c6738","name":"","url":"/graph","method":"get","swaggerDoc":"","x":550,"y":520,"wires":[["de9d1256.6ea31"]]},{"id":"248b05fd.dd463a","type":"comment","z":"31399703.1c6738","name":"Visit http://127.0.0.1:1880/graph for graph","info":"http://127.0.0.1:1880/graph","x":1160,"y":480,"wires":[]}]
