Intelligence-Engine/interference-classification/old flows/flows_MacBook-Pro.home.json
[{"id":"f2cccb72.b30aa8","type":"tab","label":"WiSHFUL intelligence"},{"id":"3ec41d17.a1d7b2","type":"tab","label":"Flow 1"},{"id":"59fc630d.15a47c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2f21704a.325ce","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"a743ee0d.417ce","type":"ui_tab","name":"Tab","icon":"dashboard","order":0},{"id":"bc8f1f5a.29f06","type":"inject","z":"f2cccb72.b30aa8","name":"Network topology ","topic":"trial","payload":"PROVA","payloadType":"str","repeat":"5","crontab":"","once":false,"x":110,"y":240,"wires":[["782f03a8.806e7c"]]},{"id":"5f0e3a53.dd2a34","type":"debug","z":"f2cccb72.b30aa8","name":"Interference Class","active":true,"console":"false","complete":"payload","x":830,"y":200,"wires":[]},{"id":"a29c2e81.feb9b","type":"interference-classifier","z":"f2cccb72.b30aa8","name":"","x":570,"y":200,"wires":[["5f0e3a53.dd2a34"]]},{"id":"cf6397d1.6030c8","type":"comment","z":"f2cccb72.b30aa8","name":"WiSHFUL project","info":"This is a flow to predict interference by classifying it in 'no interference', 'refrained', 'collision'","x":120,"y":100,"wires":[]},{"id":"3378ece2.a95254","type":"openweathermap in","z":"3ec41d17.a1d7b2","name":"","lon":"","lat":"","city":"Palermo","country":"Italy","language":"en","x":141.36363220214844,"y":116.3636360168457,"wires":[["d9dee8c3.32a4e8"]]},{"id":"d9dee8c3.32a4e8","type":"debug","z":"3ec41d17.a1d7b2","name":"","active":true,"console":"false","complete":"false","x":369.5454545454545,"y":108.18181818181817,"wires":[]},{"id":"782f03a8.806e7c","type":"function","z":"f2cccb72.b30aa8","name":"extractFeatures","func":"msg.payload = Math.round(Math.random()*3);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["a29c2e81.feb9b","63819080.c93ac"]]},{"id":"63819080.c93ac","type":"debug","z":"f2cccb72.b30aa8","name":"","active":true,"console":"false","complete":"false","x":510,"y":280,"wires":[]}]