Intelligence-Engine/interference-classification/old flows/flows_PG-MacBookMBP-3.local.json
[{"id":"f6e3bd31.5e0b2","type":"tab","label":"Flow 1"},{"id":"4b259b61.2a0f44","type":"tab","label":"Flow 2"},{"id":"8cd5532.c33ca3","type":"tab","label":"Flow 5"},{"id":"1168dc4e.d92ab4","type":"tab","label":"Flow 3"},{"id":"5fbb8134.370978","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4844fa29.af0aa4","type":"ui_tab","name":"Tab","icon":"dashboard","order":0},{"id":"35e1175.5635b68","type":"ui_group","name":"Group","tab":"4844fa29.af0aa4","order":null,"disp":true,"width":6},{"id":"e83ff8c7.d44e18","type":"debug","z":"4b259b61.2a0f44","name":"","active":true,"complete":false,"x":528.8888549804688,"y":217.77777671813965,"wires":[]},{"id":"d23de238.6c4038","type":"inject","z":"4b259b61.2a0f44","name":"","topic":"","payload":"","repeat":"","once":false,"x":128.88885498046875,"y":217.77777671813965,"wires":[["9004f7d6.a4457"]]},{"id":"9004f7d6.a4457","type":"function","z":"4b259b61.2a0f44","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":328.88885498046875,"y":217.77777671813965,"wires":[["e83ff8c7.d44e18"]]},{"id":"c5f0683d.db39e8","type":"inject","z":"f6e3bd31.5e0b2","name":"trial time stamp","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":150,"y":360,"wires":[["263c3bb.7555bc4"]]},{"id":"263c3bb.7555bc4","type":"http request","z":"f6e3bd31.5e0b2","name":"power and frequency","method":"GET","ret":"txt","url":"http://realtimeweb-prod.nationalgrid.com/SystemData.aspx","tls":"","x":340,"y":220,"wires":[["9c8a0441.f4cb"]]},{"id":"9c8a0441.f4cb","type":"function","z":"f6e3bd31.5e0b2","name":"demand","func":"// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n    var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n    var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n\n    msg.payload = {};\n    msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n    msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n\n    msg2 = {};\n    msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n\n    return [msg,msg2];\n}\nreturn null;","outputs":"2","noerr":0,"x":580,"y":360,"wires":[["5e79597b.c93ba8","31ed02f4.f6c836"],["ed9cff64.558c68"]]},{"id":"ed9cff64.558c68","type":"debug","z":"f6e3bd31.5e0b2","name":"","active":true,"console":"false","complete":"false","x":840,"y":420,"wires":[]},{"id":"5e79597b.c93ba8","type":"debug","z":"f6e3bd31.5e0b2","name":"","active":true,"console":"false","complete":"false","x":830,"y":280,"wires":[]},{"id":"cd5fb56b.115c6","type":"inject","z":"8cd5532.c33ca3","name":"Tick","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":false,"x":190,"y":220,"wires":[["cdd105ef.453e98"]]},{"id":"cdd105ef.453e98","type":"http request","z":"8cd5532.c33ca3","name":"UK Power","method":"GET","ret":"txt","url":"http://realtimeweb-prod.nationalgrid.com/SystemData.aspx","tls":"","x":330,"y":220,"wires":[["e0468d8c.5e0f9"]]},{"id":"e0468d8c.5e0f9","type":"function","z":"8cd5532.c33ca3","name":"UK Power Demand","func":"// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n    var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n    var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n\n    msg.payload = {};\n    msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n    msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n    \n    msg2 = {};\n    msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n\n    return [msg,msg2];\n}\n\nreturn null;","outputs":"2","noerr":0,"x":507,"y":220,"wires":[["8d3c88a.fbb0478"],["e2920005.7d5078"]]},{"id":"9d9f475.5a2c238","type":"debug","z":"8cd5532.c33ca3","name":"","active":true,"complete":false,"x":707,"y":190,"wires":[]},{"id":"e2920005.7d5078","type":"debug","z":"8cd5532.c33ca3","name":"","active":true,"console":"false","complete":"payload","x":710,"y":260,"wires":[]},{"id":"8d3c88a.fbb0478","type":"file","z":"8cd5532.c33ca3","name":"","filename":"prova","appendNewline":true,"createDir":false,"overwriteFile":"false","x":710,"y":60,"wires":[]},{"id":"31ed02f4.f6c836","type":"ui_chart","z":"f6e3bd31.5e0b2","name":"","group":"35e1175.5635b68","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":660,"y":500,"wires":[[],[]]},{"id":"ef670257.6bb4e","type":"inject","z":"1168dc4e.d92ab4","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"x":130,"y":160,"wires":[["e5413fa6.bf6bb8"]]},{"id":"e5413fa6.bf6bb8","type":"function","z":"1168dc4e.d92ab4","name":"generate random number","func":"msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["31fc655.1c11e1a","2fb1f335.9ca26c"]]},{"id":"31fc655.1c11e1a","type":"ui_chart","z":"1168dc4e.d92ab4","name":"","group":"35e1175.5635b68","order":0,"width":"6","height":"5","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":570,"y":220,"wires":[[],[]]},{"id":"2fb1f335.9ca26c","type":"ui_gauge","z":"1168dc4e.d92ab4","name":"","group":"35e1175.5635b68","order":0,"width":0,"height":0,"gtype":"donut","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"x":600,"y":340,"wires":[]},{"id":"5c983582.dedea4","type":"ui_date_picker","z":"1168dc4e.d92ab4","name":"","label":"pick date","group":"35e1175.5635b68","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":280,"y":320,"wires":[[]]}]